In [2]:
import pandas as pd

In [3]:
# import the data
data = pd.read_csv("data/german_data_clean.csv")

In [4]:
data

,checking_account,duration_months,credit_history,purpose,credit_amount,savings,present_employment_since,installment_rate,personal_status_sex,other_deptors,...,property,age_years,other_installment_plans,housing,existing_credits,job,people_liable_maintenance,telephone,foreign_worker,response
0,... < 0 euro,6,critical account/other credits existing (not a...,radio/television,1169,unknown/ no savings account,.. >= 7 years,4,male : single,none,...,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes,0
1,0 <= ... < 102 euro,48,existing credits paid back duly till now,radio/television,5951,... < 51 euro,1 <= ... < 4 years,2,female : divorced/separated/married,none,...,real estate,22,none,own,1,skilled employee / official,1,none,yes,1
2,No checking account,12,critical account/other credits existing (not a...,education,2096,... < 51 euro,4 <= ... < 7 years,2,male : single,none,...,real estate,49,none,own,1,unskilled - resident,2,none,yes,0
3,... < 0 euro,42,existing credits paid back duly till now,furniture/equipment,7882,... < 51 euro,4 <= ... < 7 years,2,male : single,guarantor,...,(if not real estate) building society savings ...,45,none,for free,1,skilled employee / official,2,none,yes,0
4,... < 0 euro,24,delay in paying off in the past,car (new),4870,... < 51 euro,1 <= ... < 4 years,3,male : single,none,...,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,No checking account,12,existing credits paid back duly till now,furniture/equipment,1736,... < 51 euro,4 <= ... < 7 years,3,female : divorced/separated/married,none,...,real estate,31,none,own,1,unskilled - resident,1,none,yes,0
996,... < 0 euro,30,existing credits paid back duly till now,car (used),3857,... < 51 euro,1 <= ... < 4 years,4,male : divorced/separated,none,...,(if not real estate) building society savings ...,40,none,own,1,management/ self-employed/highly qualified emp...,1,"yes, registered under the customers name",yes,0
997,No checking account,12,existing credits paid back duly till now,radio/television,804,... < 51 euro,.. >= 7 years,4,male : single,none,...,"(if not optin 1 or 2) car or other, not in att...",38,none,own,1,skilled employee / official,1,none,yes,0
998,... < 0 euro,45,existing credits paid back duly till now,radio/television,1845,... < 51 euro,1 <= ... < 4 years,4,male : single,none,...,unknown / no property,23,none,for free,1,skilled employee / official,1,"yes, registered under the customers name",yes,1
999,0 <= ... < 102 euro,45,critical account/other credits existing (not a...,car (used),4576,51 <= ... < 255 euro,unemployed,3,male : single,none,...,"(if not optin 1 or 2) car or other, not in att...",27,none,own,1,skilled employee / official,1,none,yes,0

In [7]:
data.loc[[13, 100,569], "duration_months"]

13     24
100    24
569    48
Name: duration_months, dtype: int64

In [8]:
# 
data.head()

,checking_account,duration_months,credit_history,purpose,credit_amount,savings,present_employment_since,installment_rate,personal_status_sex,other_deptors,...,property,age_years,other_installment_plans,housing,existing_credits,job,people_liable_maintenance,telephone,foreign_worker,response
0,... < 0 euro,6,critical account/other credits existing (not a...,radio/television,1169,unknown/ no savings account,.. >= 7 years,4,male : single,none,...,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes,0
1,0 <= ... < 102 euro,48,existing credits paid back duly till now,radio/television,5951,... < 51 euro,1 <= ... < 4 years,2,female : divorced/separated/married,none,...,real estate,22,none,own,1,skilled employee / official,1,none,yes,1
2,No checking account,12,critical account/other credits existing (not a...,education,2096,... < 51 euro,4 <= ... < 7 years,2,male : single,none,...,real estate,49,none,own,1,unskilled - resident,2,none,yes,0
3,... < 0 euro,42,existing credits paid back duly till now,furniture/equipment,7882,... < 51 euro,4 <= ... < 7 years,2,male : single,guarantor,...,(if not real estate) building society savings ...,45,none,for free,1,skilled employee / official,2,none,yes,0
4,... < 0 euro,24,delay in paying off in the past,car (new),4870,... < 51 euro,1 <= ... < 4 years,3,male : single,none,...,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes,1

In [10]:
data_sorted = data.sort_values(by="duration_months")
data_sorted.head()

,checking_account,duration_months,credit_history,purpose,credit_amount,savings,present_employment_since,installment_rate,personal_status_sex,other_deptors,...,property,age_years,other_installment_plans,housing,existing_credits,job,people_liable_maintenance,telephone,foreign_worker,response
314,>= 102 euro,4,existing credits paid back duly till now,car (new),1494,unknown/ no savings account,... < 1 year,1,male : single,none,...,real estate,29,none,own,1,unskilled - resident,2,none,no,0
734,No checking account,4,critical account/other credits existing (not a...,car (new),3380,... < 51 euro,4 <= ... < 7 years,1,female : divorced/separated/married,none,...,real estate,37,none,own,1,skilled employee / official,2,none,yes,0
527,No checking account,4,critical account/other credits existing (not a...,radio/television,1503,... < 51 euro,4 <= ... < 7 years,2,male : single,none,...,real estate,42,none,own,2,unskilled - resident,2,none,yes,0
943,No checking account,4,critical account/other credits existing (not a...,car (new),1455,... < 51 euro,4 <= ... < 7 years,2,male : single,none,...,real estate,42,none,own,3,unskilled - resident,2,none,yes,0
837,No checking account,4,existing credits paid back duly till now,furniture/equipment,601,... < 51 euro,... < 1 year,1,female : divorced/separated/married,none,...,real estate,23,none,rent,1,unskilled - resident,2,none,yes,0

In [13]:
data.loc[0]

checking_account                                                 ... <  0 euro
duration_months                                                              6
credit_history               critical account/other credits existing (not a...
purpose                                                       radio/television
credit_amount                                                             1169
savings                                            unknown/ no savings account
present_employment_since                                         .. >= 7 years
installment_rate                                                             4
personal_status_sex                                            male   : single
other_deptors                                                             none
present_residence                                                            4
property                                                           real estate
age_years                                                                   67
other_installment_plans                                                   none
housing                                                                    own
existing_credits                                                             2
job                                                skilled employee / official
people_liable_maintenance                                                    1
telephone                             yes, registered under the customers name
foreign_worker                                                             yes
response                                                                     0
Name: 0, dtype: object

In [16]:
data_sorted.loc[0]

checking_account                                                 ... <  0 euro
duration_months                                                              6
credit_history               critical account/other credits existing (not a...
purpose                                                       radio/television
credit_amount                                                             1169
savings                                            unknown/ no savings account
present_employment_since                                         .. >= 7 years
installment_rate                                                             4
personal_status_sex                                            male   : single
other_deptors                                                             none
present_residence                                                            4
property                                                           real estate
age_years                                                                   67
other_installment_plans                                                   none
housing                                                                    own
existing_credits                                                             2
job                                                skilled employee / official
people_liable_maintenance                                                    1
telephone                             yes, registered under the customers name
foreign_worker                                                             yes
response                                                                     0
Name: 0, dtype: object

In [17]:
# lamba

data.head()

,checking_account,duration_months,credit_history,purpose,credit_amount,savings,present_employment_since,installment_rate,personal_status_sex,other_deptors,...,property,age_years,other_installment_plans,housing,existing_credits,job,people_liable_maintenance,telephone,foreign_worker,response
0,... < 0 euro,6,critical account/other credits existing (not a...,radio/television,1169,unknown/ no savings account,.. >= 7 years,4,male : single,none,...,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes,0
1,0 <= ... < 102 euro,48,existing credits paid back duly till now,radio/television,5951,... < 51 euro,1 <= ... < 4 years,2,female : divorced/separated/married,none,...,real estate,22,none,own,1,skilled employee / official,1,none,yes,1
2,No checking account,12,critical account/other credits existing (not a...,education,2096,... < 51 euro,4 <= ... < 7 years,2,male : single,none,...,real estate,49,none,own,1,unskilled - resident,2,none,yes,0
3,... < 0 euro,42,existing credits paid back duly till now,furniture/equipment,7882,... < 51 euro,4 <= ... < 7 years,2,male : single,guarantor,...,(if not real estate) building society savings ...,45,none,for free,1,skilled employee / official,2,none,yes,0
4,... < 0 euro,24,delay in paying off in the past,car (new),4870,... < 51 euro,1 <= ... < 4 years,3,male : single,none,...,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes,1

In [39]:
loan_value = lambda amount, installment, months: amount * (1 + (installment / 100)) ** (months /12)

In [43]:
loan_value(1000, 2, 24)

1040.4

In [48]:

data.apply(lambda row: loan_value(row['credit_amount'], row['installment_rate'], row['duration_months']), axis=1)

0      1192.150762
1      6441.553784
2      2137.920000
3      8447.671779
4      5166.583000
          ...
995    1788.080000
996    4254.347759
997     836.160000
998    2137.329071
999    5112.409209
Length: 1000, dtype: float64

In [46]:
def load_value(amount, installment, months):
    pass

In [37]:
data['loan_type'].value_counts()

loan_type
normal    1000
Name: count, dtype: int64